---
import { getCollection } from "astro:content";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import CallToAction from "../components/CallToAction.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";
import Pill from "../components/Pill.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";

// Page section components
import ContactCTA from "../components/ContactCTA.astro";
import Skills from "../components/Skills.astro";

// Content Fetching: List four most recent work projects
const projects = (await getCollection("work"))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
  <div class="flex flex-col gap-20 lg:gap-48">
    <div
      class="me-auto ms-auto flex w-full max-w-[83rem] flex-col gap-8 pe-6 ps-6 lg:gap-20"
    >
      <header
        class="hero flex flex-col items-center gap-8 lg:grid lg:grid-cols-[6fr_4fr] lg:gap-[3.75rem] lg:pe-10 lg:ps-10"
      >
        <Hero
          title="Hello, my name is Peter Chen"
          tagline="I am a Frontend Developer who is currently based in Taiwan."
          align="start"
        >
          <div class="roles hidden lg:mt-2 lg:flex lg:gap-2">
            <Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
            <Pill><Icon icon="pencil-line" size="1.33em" /> Writer</Pill>
          </div>
        </Hero>

        <img
          alt="Peter Chen smiling in a blue trench coat and amber glasses"
          width="480"
          height="620"
          src="/assets/portrait.jpg"
          class="aspect-[5/4] rounded-3xl object-cover object-[0_30%] lg:aspect-[3/4] lg:rounded-[4.5rem] lg:object-cover"
        />
      </header>

      <Skills />
    </div>

    <main
      class="me-auto ms-auto flex w-full max-w-[83rem] flex-col gap-20 pe-6 ps-6 lg:gap-48"
    >
      <section
        class="section with-background relative grid gap-8 before:pointer-events-none before:absolute before:left-1/2 before:top-0 before:-z-[1] before:aspect-[2.25/var(--bg-scale)] before:w-screen before:-translate-x-1/2 before:-translate-y-3/4 before:content-[''] lg:grid-cols-[repeat(4,_1fr)] lg:gap-20 lg:grid-areas-cta"
      >
        <header
          class="flex max-w-[50ch] flex-col gap-2 justify-self-center text-center text-[length:var(--text-md)] text-[color:var(--gray-300)] lg:gap-4 lg:justify-self-start lg:text-left lg:text-[length:var(--text-lg)] lg:grid-in-header"
        >
          <h3
            class="text-[length:var(--text-2xl)] lg:text-[length:var(--text-4xl)]"
          >
            Selected Work
          </h3>
          <p>
            Take a look below at some of my featured work for clients from the
            past few years.
          </p>
        </header>

        <div class="gallery">
          <Grid variant="offset">
            {
              projects.map((project) => (
                <li>
                  <PortfolioPreview project={project} />
                </li>
              ))
            }
          </Grid>
        </div>

        <div class="cta">
          <CallToAction href="/work/">
            View All
            <Icon icon="arrow-right" size="1.2em" />
          </CallToAction>
        </div>
      </section>

      <section
        class="section with-background bg-variant relative grid gap-8 before:pointer-events-none before:absolute before:left-1/2 before:top-0 before:-z-[1] before:aspect-[2.25/var(--bg-scale)] before:w-screen before:-translate-x-1/2 before:-translate-y-3/4 before:content-[''] lg:grid-cols-[repeat(4,_1fr)] lg:gap-20 lg:grid-areas-normal"
      >
        <header
          class="flex max-w-[50ch] flex-col gap-2 justify-self-center text-center text-[length:var(--text-md)] text-[color:var(--gray-300)] lg:gap-4 lg:text-[length:var(--text-lg)] lg:grid-in-header"
        >
          <h3
            class="text-[length:var(--text-2xl)] lg:text-[length:var(--text-4xl)]"
          >
            Mentions
          </h3>
          <p>
            I have been fortunate enough to recieve praise for my work in
            several publications. Take a look below to learn more.
          </p>
        </header>

        <div class="gallery">
          <Grid variant="small">
            {
              [
                "Medium",
                "BuzzFeed",
                "The Next Web",
                "awwwards.",
                "TechCrunch",
              ].map((brand) => (
                <li class="mention-card flex h-28 items-center justify-center rounded-3xl border border-solid border-[color:var(--gray-800)] text-center text-[color:var(--gray-300)] lg:h-[9.5rem] lg:rounded-3xl">
                  <p>{brand}</p>
                </li>
              ))
            }
          </Grid>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .hero img {
    box-shadow: var(--shadow-md);
  }

  /* ====================================================== */

  .with-background::before /* before: */ {
    --hero-bg: var(--bg-image-subtle-2);

    background: url("/assets/backgrounds/noise.png") top center/220px repeat,
      var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
      var(--gray-999);
    background-blend-mode: overlay, normal, normal, normal;
    mix-blend-mode: var(--bg-blend-mode);
  }

  .with-background.bg-variant::before /* before: */ {
    --hero-bg: var(--bg-image-subtle-1);
  }

  @media (min-width: 50em /* lg */) {
    .gallery {
      grid-area: gallery;
    }

    .cta {
      grid-area: cta;
    }
  }

  /* ====================================================== */

  .mention-card {
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
  }
</style>
