---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a href={href} class="relative flex place-content-center text-center py-[0.56em]
px-[2em] gap-[0.8em] text-[color:var(--accent-text-over)] no-underline
leading-[1.1] rounded-[999rem] overflow-hidden whitespace-nowrap
after:content-[''] after:absolute after:inset-0 after:pointer-events-none
after:mix-blend-overlay lg:py-[1.125rem] lg:px-10
lg:text-[length:var(--text-xl)] "><slot /></a>

<style>
	a {
		background: var(--gradient-accent-orange); /* ! */
		box-shadow: var(--shadow-md); /* ! */
	}

	@media (min-width: 20em /* ! */) {
		a {
			font-size: var(--text-lg);
		}
	}

	/* Overlay for hover effects. */
	a::after {
		transition: background-color var(--theme-transition); /* ! */
	}

	a:focus::after,
	a:hover::after {
		background-color: hsla(var(--gray-999-basis), 0.3); /* ! */
	}
</style>
