---
interface Props {
  title: string;
  tagline?: string;
  align?: "start" | "center";
}

const { align = "center", tagline, title } = Astro.props;
---

<header
  class:list={[
    "text-[length:var(--text-lg)] text-center flex flex-col gap-4 lg:text-[length:var(--text-xl)]",
    align === "start" ? "start lg:text-start" : "",
  ]}
>
  <div class="flex flex-col gap-2">
    <h1
      class="title me-auto ms-auto max-w-[37ch] text-[length:var(--text-3xl)] text-[color:var(--gray-0)] lg:text-[length:var(--text-5xl)]"
    >
      {title}
    </h1>
    {tagline && <p class="tagline me-auto ms-auto max-w-[37ch]">{tagline}</p>}
  </div>
  <slot />
</header>

<style>
  @media (min-width: 50em) {
    .start .title,
    .start .tagline {
      margin-inline: unset;
    }
  }
</style>
