<div
  class="flex gap-2 whitespace-nowrap rounded-[999rem] border border-solid border-[color:var(--accent-regular)] bg-[color:var(--accent-regular)] px-4 py-2 text-[length:var(--text-md)] leading-[1.35] text-[color:var(--accent-text-over)]"
>
  <slot />
</div>
