---
import Icon from "./Icon.astro";
---

<section
  class="box flex flex-col gap-12 rounded-3xl border border-solid border-[color:var(--gray-800)] bg-[color:var(--gray-999\_40)] p-6 lg:grid lg:grid-cols-[repeat(3,_1fr)] lg:gap-20 lg:rounded-3xl lg:p-10"
>
  <div class="flex flex-col gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2 class="text-[length:var(--text-lg)] lg:text-[length:var(--text-2xl)]">
      Full Stack
    </h2>
    <p class="text-[color:var(--gray-400)]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </p>
  </div>
  <div class="flex flex-col gap-2 lg:gap-4">
    <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2 class="text-[length:var(--text-lg)] lg:text-[length:var(--text-2xl)]">
      Industry Leader
    </h2>
    <p class="text-[color:var(--gray-400)]">
      Neque viverra justo nec ultrices dui. Est ultricies integer quis auctor
      elit.
    </p>
  </div>
  <div class="flex flex-col gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2 class="text-[length:var(--text-lg)] lg:text-[length:var(--text-2xl)]">
      Strategy-Minded
    </h2>
    <p class="text-[color:var(--gray-400)]">
      Urna porttitor rhoncus dolor purus non enim praesent ornare.
    </p>
  </div>
</section>

<style>
  .box {
    box-shadow: var(--shadow-sm);
  }
</style>
